<style>
.layout--splash h1 {
    margin-top: 60px;
    font-size: 1.563em;
}
    
.curso__item {
    width: 40%;
    border: 5px solid #212529;
    border-radius: 20px;
    padding: 10px;
}
    
.curso__item a {
    font-size: 1.2em;
    background-color: #e84430;
    padding: 5px;
    color: white;
}
    
</style>
    
<div class="cursos__wrapper" style="text-align:center; position:relative;">
    <div class="curso__item" style="position:relative; margin-left:auto; margin-right:auto; display:inline-block;">
      <div class="archive__item">
          <div class="archive__item-teaser">
            <img src="https://modelismodigital.com/assets/img/capitulos/C1_img180.jpg" alt="placeholder image 9">
          </div>
        <div class="archive__item-body">
            <h2 class="archive__item-title">Curso Introducción al Modelismo Digital</h2>
            <div class="archive__item-excerpt">
              <p>Comienza a crear modelos digitales. <br> <a href="https://sso.teachable.com/secure/1078760/identity/sign_up/with_email">Regístrate gratis</a> <br>No es necesario tarjeta de crédito</p>
            </div>
        </div>
      </div>
    </div>
    
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
    <div class="curso__item" style="position:relative; margin-left:auto; margin-right:auto; display:inline-block;">
      <div class="archive__item">
          <div class="archive__item-teaser">
            <img src="https://modelismodigital.com/assets/img/capitulos/C9_img180.jpg" alt="placeholder image 9">
          </div>
        <div class="archive__item-body">
           <h2 class="archive__item-title">Curso Modelismo Digital<br> &nbsp;</h2>
            <div class="archive__item-excerpt">
              <p>Aprende a crear tus escenas favoritas en 3D <br><br> <a href="https://sso.teachable.com/secure/1078760/identity/sign_up/with_email">Apúntate gratis esta semana</a>&nbsp;
                &nbsp;
                  <span style="text-decoration: line-through; color: lightgrey;">90€</span></p>
            </div>
        </div>
      </div>
    </div>
</div>
