<style>
.layout--splash h1 {
    margin-top: 60px;
    font-size: 1.563em;
}
    
.curso__item {
    border: 5px solid #212529;
    border-radius: 20px;
    padding: 10px;
}
    
.curso__item a {
    font-size: 1.2em;
    background-color: #e84430;
    padding: 5px;
    color: white;
}
    
</style>
    
<div class="cursos__wrapper" style="text-align:center; position:relative;">
    
    <div class="curso__item" style="position:relative; margin-left:auto; margin-right:auto; display:inline-block;">
      <div class="archive__item">
          <div class="archive__item-teaser">
            <img src="https://modelismodigital.com/assets/img/capitulos/C9_img180.jpg" alt="placeholder image 9">
          </div>
        <div class="archive__item-body">
           <h2 class="archive__item-title">Curso de Modelismo Digital<br> &nbsp;</h2>
            <div class="archive__item-excerpt">
              <p class="section__subheading section__subheading___6d245">Crea tus escenas favoritas en <b>3D</b><br>
                  Crea la primera escena con las lecciones en vista de previa<br><small>Sin tarjeta de crédito para vista previa</small></p>
                
                <div class="course-action-buttons__purchase course-action-buttons__purchase___6d245">
                  <a href="/enroll/1767163" class="button button-primary button-purchase">Comprar $49.00 </a>
                  <a href="/enroll/1767163?et=free_trial" class="button button-secondary button-free-trial">Vista previa gratuita</a>
               </div>
                
            </div>
        </div>
      </div>
    </div>
</div>
