<style>
.layout--splash h1 {
    margin-top: 60px;
    font-size: 1.563em;
}
    
  
.button {
    -webkit-transition: all 200ms ease,font-size 200ms ease;
    -moz-transition: all 200ms ease,font-size 200ms ease;
    transition: all 200ms ease,font-size 200ms ease;
    display: inline-block;
    padding: 16px 24px;
    border: 2px solid transparent;
    border-radius: 0;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
    
.button-primary {
    border: 2px solid transparent;
    border-radius: 100px;
    background-color: #1E1C27;
}
    
.button-secondary {
    border: 2px solid #1E1C27;
    border-radius: 100px;
    /* background-color: transparent; */
    background-color: #e84430;
}

@media (min-width: 768px)
.button {
    font-size: 18px;
}
    
.curso__item {
    border: 10px solid red;
    border-radius: 21px;
    padding: 3px;
    margin-bottom: 12px;
}
    
</style>
    
<div class="cursos__wrapper" style="text-align:center; position:relative;">
    
    <div class="curso__item" style="position:relative; margin-left:auto; margin-right:auto; display:inline-block;">
      <div class="archive__item">
          <div class="archive__item-teaser">
            <img src="https://modelismodigital.com/assets/img/capitulos/C9_img180.jpg" alt="placeholder image 9">
          </div>
        <div class="archive__item-body">
           <h2 class="archive__item-title">Curso de Modelismo Digital<br> &nbsp;</h2>
            <div class="archive__item-excerpt">
              <p class="section__subheading section__subheading___6d245">Crea tus escenas favoritas en <b>3D</b><br>
                  Crea la primera escena con las lecciones en vista previa<br><small>Sin tarjeta de crédito para vista previa</small></p>
                
                <div class="course-action-buttons__purchase course-action-buttons__purchase___6d245">
                  <a href="https://modelismo.thinkific.com/enroll/1767163" class="button button-primary button-purchase">Comprar $49.00 </a>
                  <a href="https://modelismo.thinkific.com/enroll/1767163?et=free_trial" class="button button-secondary button-free-trial">Vista previa gratuita</a>
               </div>
                
            </div>
        </div>
      </div>
    </div>
</div>
